<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/resources/|">
    <meta charset="UTF-8">
    <title>stuList</title>
</head>
<body>
<h1>学生列表</h1>
<table>
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>生日</td>
        <td>操作</td>
    </tr>
    <tr th:each="stu:${stulist}">
        <td th:text="${stu.Id}"></td>
        <td th:text="${stu.Name}"></td>
        <td th:text="${#dates.format(stu.Birthday,'yyyy-MM-dd')}"></td>
        <td><a  th:href="| ${#request.getContextPath()}/stu/delete?id=${stu.Id}|">删除</a></td>
    </tr>
</table>

</body>
</html>